/* Gernerated by https://bun.js.org/ */

.b-contain *,
.b-contain *::before,
.b-contain *::after {
    box-sizing: content-box !important;
}

.b-contain input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.b-contain span {
    line-height: 1.84;
    font-size: 0.85rem;
    font-family: inherit;
}

.b-contain {
    display: table;
    position: relative;
    padding-left: 1.5rem;
    cursor: pointer;
    min-height: 25px;
}

.b-contain input[type="checkbox"]~.b-input {
    position: absolute;
    top: 0.3rem;
    left: 0;
    height: 0.6rem;
    width: 0.6rem;
    background: rgba(255, 255, 255, 1);
    transition: background 250ms;
    border: 1px solid rgba(184, 194, 204, 1);
    border-radius: 0.125rem;
}

.b-contain input[type="radio"]~.b-input {
    position: absolute;
    top: 0.3rem;
    left: 0;
    height: 0.6rem;
    width: 0.6rem;
    background: rgba(255, 255, 255, 1);
    transition: background 250ms;
    border: 1px solid rgba(184, 194, 204, 1);
    border-radius: 2.0rem;
}

.b-contain input[type="checkbox"]~.b-input::after {
    content: '';
    position: absolute;
    display: none;
    left: 0.2rem;
    top: 0rem;
    width: 0.2rem;
    height: 0.4rem;
    border: solid rgba(255, 255, 255, 1);
    border-width: 0 2px 2px 0;
    transition: background 250ms;
    transform: rotate(45deg);
}

.b-contain input[type="radio"]~.b-input::after {
    content: '';
    position: absolute;
    display: none;
    left: 0.2rem;
    top: 0rem;
    width: 0.2rem;
    height: 0.4rem;
    border: solid rgba(255, 255, 255, 1);
    border-width: 0 2px 2px 0;
    transition: background 250ms;
    transform: rotate(45deg);
}

.b-contain input:disabled~.b-input::after {
    border-color: rgba(135, 149, 161, 1);
}

.b-contain input:checked~.b-input::after {
    display: block;
}

.b-contain:hover input~.b-input,
.b-contain input:focus~.b-input {
    background: rgb(231, 238, 243);
}

.b-contain input[type=checkbox]:focus~.b-input {
    box-shadow: 0 0 0 2px rgba(50, 123, 144, 0.53);
}

.b-contain input[type=radio]:focus~.b-input {
    box-shadow: 0 0 0 2px #9239134b;
}

.b-contain input[type=checkbox]:checked~.b-input {
    background: rgba(50, 123, 144, 1);
    border-color: rgba(50, 123, 144, 1);
}

.b-contain input[type=radio]:checked~.b-input {
    background: #f06d36;
    border-color: #f06d36;
}

.b-contain input[type="checkbox"]:disabled~.b-input {
    background: rgba(241, 245, 248, 1);
    border-color: rgba(184, 194, 204, 1);
    opacity: 0.6;
    cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled~.b-input::after {
    background: rgba(135, 149, 161, 1);
}

.b-contain input[type=checkbox]:checked:focus~.b-input,
.b-contain:hover input[type=checkbox]:not([disabled]):checked~.b-input {
    background: rgba(50, 123, 144, 1);
    border-color: rgba(41, 138, 166, 1);
}

.b-contain input[type=radio]:checked:focus~.b-input,
.b-contain:hover input[type=radio]:not([disabled]):checked~.b-input {
    background: #f06d36;
    border-color: #f06d36;
}

.b-contain .b-input::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 2.567rem;
    height: 2.448rem;
    margin-left: -0.85rem;
    margin-top: -0.85rem;
    background: rgba(14, 118, 149, 1);
    border-radius: 2rem;
    opacity: .6;
    z-index: 99999;
    transform: scale(0);
}

.b-contain .b-input::before {
    visibility: hidden;
}

.b-contain input:focus+.b-input::before {
    visibility: visible;
}

.b-contain:first-child .b-input::before {
    visibility: hidden;
}